# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env
.prettierrc
eslint.config.mjs

# Ignorar directorios de logs
logs/
*.log

# Ignorar directorios de build
dist/
build/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de dependencias específicas de OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos temporales de procesos
.tmp/
.cache/
